{% extends "base.html" %}

{% block title %} THE HINDU {% endblock title %}

{% block body %}


<div class="container-fluid, px-0">
    <img src="/static/img/thehindu.jpg" class="d-block w-100" alt="...">
</div>


<div class="container">
    <p>
        <h1>Headline number : {{headline}}</h1>
        <h5>Title : {{title}}</h5>
        <h5>Description : {{desc}}</h5>
            <img src="{{url}}">
        <h5>Content : {{content}}</h5>
    </p>

    <p>
        <h1>Headline number : {{headline1}}</h1>
        <h5>Title : {{title1}}</h5>
        <h5>Description : {{desc1}}</h5>
            <img src="{{url1}}">
        <h5>Content : {{content1}}</h5>
    </p>

    <p>
        <h1>Headline number : {{headline2}}</h1>
        <h5>Title : {{title2}}</h5>
        <h5>Description : {{desc2}}</h5>
            <img src="{{url2}}">
        <h5>Content : {{content2}}</h5>
    </p>

    <p>
        <h1>Headline number : {{headline3}}</h1>
        <h5>Title : {{title3}}</h5>
        <h5>Description : {{desc3}}</h5>
            <img src="{{url3}}">
        <h5>Content : {{content3}}</h5>
    </p>

    <p>
        <h1>Headline number : {{headline4}}</h1>
        <h5>Title : {{title4}}</h5>
        <h5>Description : {{desc4}}</h5>
            <img src="{{url4}}">
        <h5>Content : {{content4}}</h5>
    </p>

</div>






{% endblock body %}